<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>.SS' Blog</title>
  </head>
  <body>
    <%- include('./partial/nav.ejs') %>
    <div class="about-content">
      <h2>About us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur
        repellendus magni sapiente. In debitis quam voluptatem aperiam voluptas
        porro quae ipsa, quaerat non sit asperiores optio doloremque molestiae!
        Vero, minima.
      </p>
    </div>
  </body>
</html>
