<nav>
  <div class="side-title">
    <a href="/"><h1>.SS' Blog</h1></a>
    <p>This a Blog where i am posting my thought.</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="/posts/new">New Post</a></li>
  </ul>
</nav>
